/* tag generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tag per lo sfondo */
.bg_above {
    background-color: #029588;
    height: 15vh;
}

.bg_blow {
    background-color: #dadbd4;
    height: 85vh;
}

/* tag del box */

#box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 93%;
    height: 93%;
}

/* tag sezione dei contatti */

#box_left {
    /* border: 1px solid #d6d6d6; */
    border: 1px solid red;
    width:40%;
    height: 100%;
    float: left;
}


/* tag sezione delle chat */
#box_right {
    /* border: 1px solid #d6d6d6; */
    border: 1px solid blue;
    height: 100%;
    width: 60%;
    float: right;
}