/* tag generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text {
    font-weight: bold;
}

img {
    height: auto;
    margin-right: 15px;
    border-radius: 50%;
}

.icon {
    color: #b1b1b1;
    font-size: 31px;
    display: flex;
    justify-content: space-between;
    width: 18%;
    position: absolute;
    top: 56%;
    right: 1%;
    transform: translate(0, -50%);
}

.section_rett {
    width: 100%;
    padding: 10px;
    min-height: 12%;
    position: relative;
}

.icon i {
    cursor: pointer;
}

.icon_avatar {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.name_users {
    position: absolute;
    top: 50%;
    left: 11%;
    transform: translate(0, -140%);
}

/* tag per lo sfondo */
.bg_above {
    background-color: #029588;
    height: 15vh;
}

.bg_blow {
    background-color: #dadbd4;
    height: 85vh;
}

/* tag del box */

#box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 93%;
    height: 93%;
}

/* tag sezione dei contatti */

#box_left {
    border-right: 1px solid #d6d6d6;
    width:35%;
    height: 100%;
    float: left;
}

#box_left img {
    width: 15%;
}

.color_section_above {
    background-color: #eaeaea;
}

.color_notif {
    background-color: #8ddafc;
    padding: 14px 15px;
    justify-content: flex-start;
}

.text_notifiche {
    position: absolute;
    top: 20%;
    left: 18%;
}

.color_notif span {
    text-decoration: underline;
    color: gray;
}

.fa-bell-slash {
    background-color: white;
    border-radius: 50%;
    color: #8ddafc;
    font-size: 35px;
    padding: 20px;
    margin-right: 10px;
}

#ricerca {
    width: 100%;
    height: 5%;
    padding: 5px;
    background-color: #fafafa;
    display: flex;
    flex-wrap: nowrap;
}

#ricerca .fas {
    border: 1px solid lightgray;
    border-right: none;
    padding: 1%;
}

#ricerca input {
    height: 100%;
    width: 90%;
    border: 1px solid lightgray;
    border-left: none;
}

#contact {
    background-color: white;
    width: 100%;
    height: calc(100% - 29%);
}

.name_contact {
    position: absolute;
    left: 15%;
    top: 20%;
}

.section_rett p  {
    font-size: 20px;
    margin-top: 4%;
}

#contact > .section_rett {
    border-top: 1px solid #b7bbbd;
}

.date_last_message {
    color: #b7bbbd;
    position: absolute;
    top: 10%;
    right: 2%;
}

/* tag sezione delle chat */
#box_right {
    height: 100%;
    width: 65%;
    float: right;
    background-image: url("https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Background.max-2800x2800.jpg");
    background-size: 100%;
}

#box_right img {
    width: 7%;
}

#chat {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.sent {
    background-color: #d5f9ba;
    margin-left: 60%;
    margin-right: 10%;
}

.received {
    background-color:white;
    margin-left: 10%;
    margin-right: 60%;
}

.sent, .received {
    min-height: 50px;
    max-width: 300px;
    border-radius: 10px;
    margin-top: 10px;
    position: relative;
}

.message {
    padding: 10px;
}


.data {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 12px;
    font-weight: bold;
    color: grey;
}

#contact .section_rett:hover {
    background-color: hsl(0, 8%, 88%);
    cursor: pointer;
}



