<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>

    <!-- Sfondo della pagina -->
    <section class="bg_above"></section>
    <section class="bg_blow"></section>

    <!-- Sezione centrale -->
    <section id="box">
        
        <!-- Sezione dei utente/contatti -->
        <section id="box_left">

            <!-- Sezione mio account -->
            <section class="section_rett color_section_above">

                <!-- Mia immagine -->
                <figure>
                    <img src="img/avatar_io.jpg" alt="Mia foto"> 
                </figure>

                <!-- Mio nome -->
                <div class="text ">
                    <p class="float_left">Gianni Pio Pellegrino</p> 
                </div>

                <div class="icon">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </section>

            <!-- Sezione notifiche -->
            <section class="section_rett color_notif">
                <i class="fas fa-bell-slash"></i>
                <div class="text">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <span>Attiva notifiche desktop</span>
                </div>
            </section>

            <!-- Sezione ricerca -->
            <section id="ricerca">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Cerca o inizia una nuova chat">
            </section>

            <!-- Sezione contatti -->
            <section id="contact">
                
                <div class="section_rett" v-for="contact in contacts">
                        <!-- Immagine contatto -->
                    <figure>
                        <img :src="contact.avatar" alt="contact.name"> 
                    </figure>

                    <!--Contatto rubrica -->
                    <div class="text">
                        <p>{{contact.name}}</p>
                        <span>{{contact.messages[contact.messages.length-1].text}}</span>
                    </div>

                    <!-- Data ultimo messaggio -->
                    <div>
                        <span class="date_last_message">{{contact.messages[contact.messages.length-1].date}}</span>
                    </div>

                </div>
            </section>

            
        </section>

        <!-- Sezione dei messaggi -->
        <section id="box_right" v-for="contact in contacts" v-if="contact.visible">

            <!-- Contatto -->
            <section class="section_rett color_section_above">

                <!-- Immagine contatto -->
                <figure>
                    <img :src="contact.avatar" :alt="contact.name"> 
                </figure>

                <!--Nome contatto -->
                <div class="text">
                    <p>{{contact.name}}</p>
                </div>
                <span>Ultimo accesso {{contact.messages[contact.messages.length-1].date}}</span>
            </section>

            <!-- Chat -->
            <section id="chat">
                <div :class="{'sent' : contact.messages.status === 'sent'}" >{{contact.messages.text}}</div>
                <div :class="{'received' : contact.messages.status === 'received'}">{{contact.messages.text}}</div>
            </section>
        </section>

    </section>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="js/script.js"></script>
</body>
</html>