<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>

    <!-- Sfondo della pagina -->
    <section class="bg_above"></section>
    <section class="bg_blow"></section>

    <!-- Sezione centrale -->
    <section id="box">
        
        <!-- Sezione dei utente/contatti -->
        <section id="box_left">

            <!-- Sezione mio account -->
            <section class="section_rett color_section_above">

                <!-- Parte di destra -->
                <div>

                    <!-- Mia immagine -->
                    <figure class="icon_avatar">
                        <img :src="user[0].avatar" alt="Mia foto"> 
                    </figure>

                    <!-- Mio nome -->
                    <div class="text">
                        <p class="name_users">{{user[0].name}}</p> 
                    </div>

                 <!-- icone -->
                    <div class="icon">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>

                </div>

            </section>

            <!-- Sezione notifiche -->
            <section class="section_rett color_notif">
                <i class="fas fa-bell-slash"></i>
                <div class="text text_notifiche">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <span>Attiva notifiche desktop</span>
                </div>
            </section>

            <!-- Sezione ricerca -->
            <section id="ricerca">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Cerca o inizia una nuova chat" id="barra_ricerca" v-model="ricercaChat">
            </section>

            <!-- Sezione contatti -->
            <section id="contact">
                
                <div class="section_rett" v-for="contact, i in contacts" :key="i" @click="changeChat(i)" v-if="contact.name.toLowerCase().includes(ricercaChat.toLowerCase())">

                    <div>
                        <!-- Immagine contatto -->
                        <figure class="icon_avatar">
                            <img :src="contact.avatar" alt="contact.name"> 
                        </figure>

                        <!--Contatto rubrica -->
                        <div class="text name_contact">
                            <p>{{contact.name}}</p>
                            <span class="last_message">{{contact.messages[contact.messages.length-1].text.slice(0,15)}}...</span>
                        </div>

                        <!-- Data ultimo messaggio -->
                        <div>
                            <span class="date_last_message">{{contact.messages[contact.messages.length-1].date}}</span>
                        </div>
                    </div>
                        

                    

                </div>
            </section>

            
        </section>

        <!-- Sezione dei messaggi -->
        <section id="box_right">

            <!-- Contatto -->
            <section class="section_rett color_section_above">

                <div>

                    <!-- Immagine contatto -->
                    <figure>
                        <img :src="contacts[chatActive].avatar" :alt="contacts[chatActive].name"> 
                    </figure>

                    <!--Nome contatto e ultimo accesso-->
                    <div class="text name_contact">
                        <p>{{contacts[chatActive].name}}</p>
                        <span>Ultimo accesso alle </span>
                    </div>

                </div>

                <!-- icone -->
                <div class="icon">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
                
            </section>

            <!-- Chat -->
            <section id="chat">

                <!-- Messaggi -->
                    <div v-for="message, i in contacts[chatActive].messages" v-if="message.status === 'sent'">
                       <div class="sent">
                           <p class="message">{{message.text}}</p>
                           <p class="data">{{message.date}}</p>
                        </div>
                       
                    </div>

                    <div v-else="message.status === 'received'" >
                        <div class="received">
                            <p class="message">{{message.text}}</p>
                            <p class="data">{{message.date}}</p>
                         </div>
                    </div>

            </section>
            
            <!-- Invio dei messaggi -->
            <div id="invio">
                <i class="far fa-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage.text" @keyup.enter="invioNewMessage">
                <i class="fas fa-microphone"></i>
            </div>

        </section>

    </section>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="js/script.js"></script>
</body>
</html>